$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gradient-color: linear-gradient(to bottom right, $secondary-color, $primary-color);

$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


