body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Shrikhand', sans-serif;
  text-align: center; }

.btn {
  color: white;
  display: inline-block;
  padding: 15px;
  border-radius: 25px;
  text-decoration: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC); }
  .btn:hover {
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    filter: brightness(105%); }

input[type=checkbox] {
  display: none; }
  input[type=checkbox] + label {
    display: inline-block;
    cursor: pointer; }
  input[type=checkbox]:checked + label {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    background-clip: text; }
  input[type=checkbox]:checked + label > i {
    color: transparent; }

.restaurant-bubble {
  margin: 20px 20px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .restaurant-bubble img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 140px; }
  .restaurant-bubble a {
    color: black;
    text-decoration: none; }
  .restaurant-bubble .restaurant-bubble-sub {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .restaurant-bubble .restaurant-bubble-sub-txt {
      margin: 8px 0 8px 15px; }
      .restaurant-bubble .restaurant-bubble-sub-txt h4 {
        font-weight: 300; }
    .restaurant-bubble .restaurant-bubble-sub i {
      margin-right: 15px;
      color: lightgray;
      font-size: 20px; }
      .restaurant-bubble .restaurant-bubble-sub i:hover {
        color: rgba(255, 121, 218, 0.4); }

.menu-bubble {
  margin: 0 20px;
  text-align: left; }
  .menu-bubble h3 {
    width: fit-content;
    border-bottom: 3px inset #99E2D0; }
  .menu-bubble-dish {
    margin: 10px 0;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .menu-bubble-dish h4 {
      font-weight: 500;
      font-size: large; }
    .menu-bubble-dish h5 {
      font-weight: 300;
      font-size: medium; }
    .menu-bubble-dish p {
      height: fit-content; }
    .menu-bubble-dish:hover .overlay {
      visibility: visible; }
    .menu-bubble-dish .overlay {
      visibility: hidden;
      margin-right: 0%;
      height: 100%;
      background-color: #99E2D0; }
      .menu-bubble-dish .overlay i {
        color: white;
        text-align: center; }

/* & a{
        color:black;
        text-decoration: none;
        }
        
    & .restaurant-bubble-sub{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-txt{
            margin: 8px 0 8px 15px ;
            & h4{
                font-weight: 300;
            }
        }
        & i{
            margin-right: 15px;
            color: lightgray;
            font-size: 20px;
            &:hover{
                color: rgba($secondary-color, 0.4);
            }
        }
    }
    */
ul {
  list-style: none; }

header {
  width: auto;
  height: auto;
  text-align: center; }
  header .catchphrase {
    padding: 20px 50px;
    background-color: #f6f6f6; }
  header h2 {
    margin-bottom: 15px;
    font-size: xx-large; }
  header h3 {
    margin-bottom: 30px;
    font-weight: lighter; }

.home-nav {
  width: auto;
  height: auto;
  margin-top: 20px;
  text-align: center; }
  .home-nav .location {
    font-weight: bolder;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    background-color: #eaeaea;
    border-top: 2px solid #cacaca; }
  .home-nav i {
    padding-right: 10px; }

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px; }
  .menu-nav i {
    color: black;
    font-size: x-large; }

footer {
  background-color: #353535;
  margin: 0;
  padding: 25px; }
  footer img {
    height: 20px;
    filter: invert(100%); }
  footer ul {
    margin: 0;
    padding: 0; }
  footer li {
    margin-top: 10px; }
    footer li a {
      text-decoration: none;
      color: white; }
    footer li i {
      padding-right: 10px; }

.step {
  width: auto;
  height: auto; }
  .step h2 {
    margin: 30px 20px; }
  .step ul {
    margin: 0;
    padding: 0;
    text-align: center; }
  .step li a {
    display: inline-block;
    width: 70%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 25px 25px;
    border-radius: 18px;
    text-decoration: none;
    background-color: #f6f6f6;
    color: black; }
    .step li a:hover {
      background-color: rgba(147, 86, 220, 0.1); }
    .step li a:hover > i {
      color: #9356DC; }
  .step li i {
    padding-right: 10px; }
  .step-number {
    text-align: left;
    position: relative;
    padding: 5px 10px;
    margin: -15px;
    color: white;
    background-color: #9356DC;
    border-radius: 25px; }

.restaurant {
  width: auto; }
  .restaurant h2 {
    margin: 30px 20px; }

.menu-page {
  text-align: center; }
  .menu-page h1 {
    font-weight: 100; }
  .menu-page .btn {
    margin: 30px; }
  .menu-page i {
    margin-right: 15px;
    color: lightgray;
    font-size: 20px; }
    .menu-page i:hover {
      color: rgba(255, 121, 218, 0.4); }

.menu-title-txt {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -50px;
  padding: 30px 15px;
  background-color: white;
  border-radius: 50px; }

.menu-pic {
  width: 100%; }

* {
  margin: 0;
  padding: 0; }
