header{
    width: auto;
    height: auto;
    text-align: center;
    & .catchphrase{
        padding: 20px 50px;
        background-color: #f6f6f6;
    }
    & h2{
        margin-bottom: 15px ;
        font-size: xx-large;
    }
    & h3{
        margin-bottom: 30px ;
        font-weight: lighter;
    }

}