.restaurant-bubble{
    margin: 20px 20px;
    border-radius: 20px;
    box-shadow: $shadow;

    & img{
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 140px;
    }

    & a{
        color:black;
        text-decoration: none;
        }
        
    & .restaurant-bubble-sub{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-txt{
            margin: 8px 0 8px 15px ;
            & h4{
                font-weight: 300;
            }
        }
        & i{
            margin-right: 15px;
            color: lightgray;
            font-size: 20px;
            &:hover{
                color: rgba($secondary-color, 0.4);
            }
        }
    }
}

.menu-bubble {
    margin: 0 20px 20px 20px;
    text-align: left;

    & h3 {
      width: fit-content;
      border-bottom: 3px solid $tertiary-color; 
    }
    
    &-dish {
        animation: slideUp 1s ;
        animation-fill-mode:forwards;
        -webkit-animation-fill-mode:forwards;
        opacity: 0;
        margin: 10px 0;
        padding: 10px;
        border-radius: 12px;
        box-shadow: $shadow;
        display: flex;
        
        & h4 {
            font-weight: 500;
            font-size: large;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
    
        }

        & h5 {
            font-weight: 300;
            font-size: medium;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
    
        }
        
        & p{
            padding-left: 10px;
        }

        & i {
            transform: rotate(1turn);
            visibility: hidden;
        }
        
        &:hover{ 
            & .overlay {
                width: 59px;
                transition: width 1s;
            }
            & i{
                transition: 1s;
                visibility: visible;
                transform: rotate(0deg);
            }
            & .dish-price{
                width: 82%;
                transition: width 1s;
            }
        }

        & .overlay {
            margin: -10px -10px -10px 0;
            width: 0;
            overflow: hidden;
            border-radius: 0 12px 12px 0;
            background-color: $tertiary-color;
            
            & .checkmark {
            color: white;
            font-size: larger;
            position: relative;
            top: 33%; 
            left: 35%;
            }
        }
    }

    .dish-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-right: 10px;
        font-weight: 500;
    }

    .dish-txt{
        overflow: hidden;
        white-space: nowrap;
    }
}